body {
    font-family: "微软雅黑", sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#start {
    background-color: #0f0;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
#start:hover {
    transform: scale(1.05);
}
